<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>head_user</string>
		<key>desc</key>
		<string>医生，您好。</string>
		<key>time</key>
		<string>12.11</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>pic_ask6</string>
		<key>desc</key>
		<string>您好，请问有什么要咨询的吗？</string>
		<key>time</key>
		<string>12.12</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>head_user</string>
		<key>desc</key>
		<string>最近我的非常干涩，而且很容易疲劳。不知是什么原因？</string>
		<key>time</key>
		<string>12.12</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>pic_ask6</string>
		<key>desc</key>
		<string>可能是用眼过度，还有什么其他症状吗？</string>
		<key>time</key>
		<string>12.13</string>
		<key>person</key>
		<false/>
	</dict>
</array>
</plist>
